{% extends 'core/home_wrapper.html' %} {% block content %} {% load static %}
<!-- main -->
<main>
  <div data-background-title="english" class="container center top">
    <div
      style="position: relative; z-index: 4"
      class="context justify-content"
      _-scope-_="P_DXLlg-pK"
    >
      <div>
        <div style="margin-bottom: 30px; padding: 0px 20px" class="text">
          <button class="btn sm">
            <span>
              Only <span class="marked">best</span> english education center
            </span>
          </button>
        </div>
        <div class="text big">
          <span>
            <span class="marked"
              >6+ IELTS или получите свои деньги обратно</span
            >
            Получите IELTS и поступите в топ лучших университетов
          </span>
        </div>
      </div>
      <div
        style="justify-content: center; margin-top: 50px"
        class="display"
        _-scope-_="GTyrlRoEbm"
      >
        <a href="#courses">
          <button class="default btn">
            <span> Записаться на курс </span>
            <span class="fas fa-angle-right"></span>
          </button>
        </a>
      </div>
    </div>
  </div>
  <div
    style="bottom: -10px; left: 0px; z-index: 1"
    class="absolute img"
    _-scope-_="WnyRtRLqqw"
  >
    <img
      src="{% static 'assets/media/images/header_bottom.jpg' %}"
      style="width: 250px"
    />
  </div>
  <div style="position: relative">
    <div
      style="bottom: 0px; right: 0px"
      class="absolute img left"
      _-scope-_="caqPFkckDO"
    >
      <img src="{% static 'assets/media/images/main.jpg' %}" id="mainImg" />
      <style>
        @media screen and (min-width: 767px) {
          #mainImg {
            width: 1500px;
          }
        }
      </style>
    </div>
  </div>
  <div
    style="left: 55%; top: 50%"
    class="absolute img messages left"
    _-scope-_="yKJxXlBxau"
  >
    <div style="position: relative">
      <div
        c=""
        style="left: -130px; top: -130px"
        class="message left top"
        _-scope-_="IXwuWKjxbt"
      >
        <div class="img">
          <img
            src="{% static 'assets/media/images/little_images/image-7.png' %}"
            alt=""
            style="width: 50px"
          />
        </div>
        <p>Hello, my friend! <span>🤗</span></p>
      </div>
      <div
        style="left: 250px; top: -250px"
        class="message left top"
        _-scope-_="mD_sXLJlYq"
      >
        <div class="img">
          <img
            src="{% static 'assets/media/images/little_images/image-3.png' %}"
            alt=""
            style="width: 50px"
          />
        </div>
        <p>What are you doing ?<span></span></p>
      </div>
      <div
        style="left: 350px; top: -100px"
        class="message left top"
        _-scope-_="UdPWaRitrM"
      >
        <div class="img">
          <img
            src="{% static 'assets/media/images/little_images/image-4.png' %}"
            alt=""
            style="width: 50px"
          />
        </div>
        <p>Thank you !<span>😻</span></p>
      </div>
      <div class="message left top display" _-scope-_="NXIWDZyjhR">
        <div class="img">
          <img
            src="{% static 'assets/media/images/little_images/image-7.png' %}"
            alt=""
            style="width: 50px"
          />
        </div>
        <p>Hey, how are you ? <span></span></p>
      </div>
    </div>
  </div>
</main>
<!-- /main -->
<div class="modal-container" style="display: none">
  <div
    style="display: flex; flex-direction: column; overflow: auto"
    class="modal width"
    _-scope-_="SYfGtxCYZa"
  >
    <img
      src="{% static 'assets/images/course.png' %}"
      alt=""
      width="100%"
      height="300px"
    />
    <div class="content">
      <b class="title"
        ><span>IELTS - Гарантируем как минимум 6.5 - 7.0 band score</span></b
      >
      <div class="details">
        <p>
          IELTS (International English Language Testing System) - это способ
          продемонстрировать свои навыки владения английским языком и открыть
          двери к международным возможностям.
        </p>
        <p>
          IELTS (International English Language Testing System) - это способ
          продемонстрировать свои навыки владения английским языком и открыть
          двери к международным возможностям.
        </p>

        <ul>
          <li>Поможет Вам подготовиться к сдаче IELTS</li>
          <li>Резултаты наших преподавателей 8.0 - 8.5 band score</li>
          <li>Имитация реалного IELTS EXAM (Mock Exam)</li>
        </ul>
      </div>
      <p class="dur" style="margin-top: 10px; font-weight: bold">
        <span class="marked">Time</span>: 1 час 20 минут --- 3 раза неделю
      </p>
      <p class="type" style="margin-top: 5px; font-weight: bold">
        <span class="marked"></span>: индивмдуально или групповое занятие
      </p>
      <b
        >Contact:
        <a href="tel:{{ settings.phone1 }}" class="link"
          >:{{ setting.phone1 }}</a
        ></b
      >
      <center style="margin-top: 25px">
        <button class="btn default" id="closemodal">
          <span>Закрыть</span>
          <span class="fas fa-times"></span>
        </button>
      </center>
    </div>
  </div>
</div>

<!-- section #whywe -->
<section id="whywe">
  <div class="container">
    <div style="margin-bottom: 50px">
      <button class="btn sm light">
        <span>What we <span class="marked">offer</span></span>
      </button>
      <div class="title">
        <span>Что мы предлагаем</span>
      </div>
    </div>
    <div class="cards">
      <div class="card">
        <div class="icon">
          <span>
            <img
              src="{% static 'assets/media/images/icons/darts.png' %}"
              alt="darts"
            />
          </span>
        </div>
        <span
          ><span class="marked">Качество</span> - эффективные методы с гарантией
          результата</span
        >
      </div>
      <div class="card">
        <div style="padding-top: 6px" class="icon">
          <span>
            <img
              src="{% static 'assets/media/images/icons/play-button.png' %}"
              alt="play-button"
            />
          </span>
        </div>
        <span
          ><span class="marked">Опыт специалистов </span> - преподавание
          английского языка с 2010 года</span
        >
      </div>
      <div class="card">
        <div style="padding-top: 10px" class="icon">
          <span>
            <img
              src="{% static 'assets/media/images/icons/mortarboard.png' %}"
              alt="mortarboard"
            />
          </span>
        </div>
        <span
          ><span class="marked">Персональный подход </span> - небольшие классы и
          индивидуальный подход</span
        >
      </div>
      <div class="card">
        <div class="icon">
          <span>
            <img
              src="{% static 'assets/media/images/icons/learning.png' %}"
              alt="learning"
            />
          </span>
        </div>
        <span
          ><span class="marked">Проверенные услуги </span> - огромное количество
          довольных студентов (в том числе преподавателей)</span
        >
      </div>
      <div class="card">
        <div class="icon">
          <span>
            <img
              src="{% static 'assets/media/images/icons/startup.png' %}"
              alt="startup"
            />
          </span>
        </div>
        <span
          ><span class="marked">Устная речь </span> - начните говорить сразу с
          первого урока</span
        >
      </div>
      <div class="card">
        <div class="icon">
          <span>
            <img
              src="{% static 'assets/media/images/icons/diagram.png' %}"
              alt="diagram"
            />
          </span>
        </div>
        <span
          ><span class="marked">Квалификация </span> - все учителя имеют
          сертификаты IELTS/CEFR</span
        >
      </div>
    </div>
  </div>
</section>
<!-- /section #whywe -->

<section id="courses">
  <div data-background-title="courses" class="container">
    <div>
      <button class="btn sm">
        <span>Our <span class="marked">courses</span></span>
      </button>
    </div>
    <div style="display: flex; justify-content: space-between">
      <div class="title">
        <span>Курсы</span>
      </div>
      <div>
        <a
          href="#contact"
          class="btn default dark display"
          _-scope-_="eM-awpuCtA"
        >
          <span>Хочу качество</span>
          <span class="fas fa-angle-right"></span>
        </a>
      </div>
    </div>
    <div
      class="cards splide"
      id="splide1"
      style="width: 90%; margin: 0 auto; margin-top: 40px"
    >
      <div class="splide__track">
        <ul class="splide__list">
          {% for course in courses %}
          <li class="splide__slide">
            <div class="card">
              <div class="img top header">
                <img
                  src="{{ course.image.url }}"
                  alt="course"
                  width="300px"
                  height="200px"
                />
              </div>
              <div class="content">
                <div class="_title">
                  <span>{{ course.course_name }}</span>
                </div>
                <div
                  class="more"
                  style="
                    display: flex;
                    justify-content: center;
                    margin-top: 20px;
                  "
                >
                  <button
                    class="btn default"
                    onclick="showModal(document.querySelector('.modal-container'),'{{ course.image.url }}',`{{course.course_name}}`, `{{ course.course_details }}`, `{{ course.courseType }}`, `{{course.duration}}`)"
                  >
                    <span>поробнее</span>
                    <span class="fas fa-angle-right"></span>
                  </button>
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

<section style="padding: 0px 0px 100px" id="results">
  <div data-background-title="results" class="container">
    <div style="margin-bottom: 50px">
      <button class="btn sm light">
        <span
          ><span class="marked">Results</span> of our
          <span class="marked">students</span></span
        >
      </button>
      <div class="title">
        <span style="width: 500px">Результаты наших учеников</span>
      </div>

      <div class="cards splide" id="splide2">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <div class="card item">
                <div class="left-side">
                  <img
                    src="{% static 'assets/media/images/ielts/score-1.jpg' %}"
                    alt=""
                  />
                </div>
                <div class="score">
                  <p class="name">
                    <span>Yusupov Ulugbek</span>
                  </p>
                  <p><span>Listening:</span><span class="marked">8.0</span></p>
                  <p><span>Reading:</span><span class="marked">8.5</span></p>
                  <p><span>Writing:</span><span class="marked">7.0</span></p>
                  <p><span>Speaking:</span><span class="marked">7.5</span></p>
                  <p class="band-score">
                    Bandscore:<span class="marked">8.0</span>
                  </p>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="card item">
                <div class="left-side">
                  <img
                    src="{% static 'assets/media/images/ielts/score-2.jpg' %}"
                    alt=""
                  />
                </div>
                <div class="score">
                  <p class="name">
                    <span>Tulanova Madina</span>
                  </p>
                  <p><span>Listening:</span><span class="marked">8.0</span></p>
                  <p><span>Reading:</span><span class="marked">7.0</span></p>
                  <p><span>Writing:</span><span class="marked">7.0</span></p>
                  <p><span>Speaking:</span><span class="marked">7.0</span></p>
                  <p class="band-score">
                    Bandscore:<span class="marked">7.5</span>
                  </p>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="card item">
                <div class="left-side">
                  <img
                    src="{% static 'assets/media/images/ielts/score-4.jpg' %}"
                    alt=""
                  />
                </div>
                <div class="score">
                  <p class="name">
                    <span>Kamolov Durbek</span>
                  </p>
                  <p><span>Listening:</span><span class="marked">9.0</span></p>
                  <p><span>Reading:</span><span class="marked">8.0</span></p>
                  <p><span>Writing:</span><span class="marked">6.0</span></p>
                  <p><span>Speaking:</span><span class="marked">8.5</span></p>
                  <p class="band-score">
                    Bandscore:<span class="marked">8.0</span>
                  </p>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="card item">
                <div class="left-side">
                  <img
                    src="{% static 'assets/media/images/ielts/score-5.jpg' %}"
                    alt=""
                  />
                </div>
                <div class="score">
                  <p class="name">
                    <span>Tasbaev Atabek</span>
                  </p>
                  <p><span>Listening:</span><span class="marked">8.5</span></p>
                  <p><span>Reading:</span><span class="marked">7.0</span></p>
                  <p><span>Writing:</span><span class="marked">6.0</span></p>
                  <p><span>Speaking:</span><span class="marked">6.0</span></p>
                  <p class="band-score">
                    Bandscore:<span class="marked">7.0</span>
                  </p>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="card item">
                <div class="left-side">
                  <img
                    src="{% static 'assets/media/images/ielts/score-6.jpg' %}"
                  />
                </div>
                <div class="score">
                  <p class="name">
                    <span>Yunusov Shoxruhmirzo</span>
                  </p>
                  <p><span>Listening:</span><span class="marked">6.0</span></p>
                  <p><span>Reading:</span><span class="marked">7.5</span></p>
                  <p><span>Writing:</span><span class="marked">6.0</span></p>
                  <p><span>Speaking:</span><span class="marked">6.5</span></p>
                  <p class="band-score">
                    Bandscore:<span class="marked">7.0</span>
                  </p>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="card item">
                <div class="left-side">
                  <img
                    src="{% static 'assets/media/images/ielts/score-7.jpg' %}"
                    alt=""
                  />
                </div>
                <div class="score">
                  <p class="name">
                    <span>Xoliqova Marjonabonu</span>
                  </p>
                  <p><span>Listening:</span><span class="marked">8.5</span></p>
                  <p><span>Reading:</span><span class="marked">7.0</span></p>
                  <p><span>Writing:</span><span class="marked">6.0</span></p>
                  <p><span>Speaking:</span><span class="marked">6.5</span></p>
                  <p class="band-score">
                    Bandscore:<span class="marked">7.0</span>
                  </p>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="card item">
                <div class="left-side">
                  <img
                    src="{% static 'assets/media/images/ielts/score-8.jpg' %}"
                    alt=""
                  />
                </div>
                <div class="score">
                  <p class="name">
                    <span>Urinboev Oyatillo</span>
                  </p>
                  <p><span>Listening:</span><span class="marked">8.0</span></p>
                  <p><span>Reading:</span><span class="marked">8.0</span></p>
                  <p><span>Writing:</span><span class="marked">7.0</span></p>
                  <p><span>Speaking:</span><span class="marked">8.0</span></p>
                  <p class="band-score">
                    Bandscore:<span class="marked">8.0</span>
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="teachers">
  <div class="container flex-direction" _-scope-_="gfKOAHDGco">
    <div>
      <div>
        <button class="btn sm">
          <span>Our <span class="marked">team</span></span>
        </button>
      </div>
      <div class="title">
        <span style="width: 450px">Знакомьтесь с нашей командой</span>
      </div>
      <div style="margin-top: 50px" class="display" _-scope-_="Bxnzbc_tgK">
        <a href="{% url 'main:teachers' %}">
          <button class="btn default">
            <span>Хочу к ним</span>
            <span class="fas fa-angle-right"></span>
          </button>
        </a>
      </div>
    </div>
    <div
      light
      style="width: 75%"
      class="cards splide"
      id="splide3"
      _-scope-_="EUyoeoYPij"
    >
      <div class="splide__track">
        <ul class="splide__list">
          {% for teacher in teachers|slice:":5" %}
          <li class="splide__slide">
            <div class="card">
              <div class="img">
                <img src="{{ teacher.image.url }}" alt="" />
              </div>
              <div class="content">
                <p class="name">
                  <span>{{ teacher.teacher_name }}</span>
                  <span class="fas fa-caret-down"></span>
                </p>
                <p class="_hidden">{{ teacher.about }}</p>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div
      style="display: none; margin-top: 50px"
      class="display"
      _-scope-_="_gGtUstK_t"
    >
      <a href="{% url 'main:teachers' %}">
        <button class="btn default">
          <span>Хочу к ним</span>
          <span class="fas fa-angle-right"></span>
        </button>
      </a>
    </div>
  </div>
</section>

<section id="about-us">
  <div class="container" data-background-title="testimonials">
    <div>
      <button class="btn sm">
        <span>What our <span class="marked">students</span> say</span>
      </button>
    </div>
    <div style="display: flex; justify-content: space-between">
      <div class="title">
        <span style="width: 400px">Отзывы наших студентов</span>
      </div>
      <div style="margin-top: 50px" class="display" _-scope-_="Bxnzbc_tgK">
        <a href="/teachers/">
          <button class="btn default">
            <span>Хочу как они</span>
            <span class="fas fa-angle-right"></span>
          </button>
        </a>
      </div>
    </div>
    <div class="pupils splide" id="splide4" style="margin-top: 100px">
      <div class="splide__track">
        <ul class="splide__list">
          <div class="pupil-card splide__slide">
            <div class="top">
              <div class="img">
                <a href="{% static 'assets/media/images/students/student-3.jpg' %}"><img
                  src="{% static 'assets/media/images/students/student-3.jpg' %}"
                  alt=""
                /></a>
              </div>
              <div>
                <p>Humoyun</p>
                <span class="marked">Student</span>
              </div>
            </div>
            <div>
              <p>
                Во-первых, Ассаляму алейкум! Спасибо всем преданным сотрудникам
                English with Tim! Не хватает словесной похвалы для описания
                учебного центра и вашего персонала. Вот почему мы, студенты,
                должны продемонстрировать свой потенциал на практике
                результатами. Спасибо вам всем!
              </p>
            </div>
          </div>
          <div class="pupil-card splide__slide">
            <div class="top">
              <div class="img">
                <a href="{% static 'assets/media/images/students/student-1.jpg' %}"><img
                  src="{% static 'assets/media/images/students/student-1.jpg' %}"
                  alt=""
                /></a>
                </a>
              </div>
              <div>
                <p>Abror</p>
                <span class="marked">Student</span>
              </div>
            </div>
            <div>
              <p>
                Знаете, English with Tim меня научил многому, почти 2 года я
                обучаюсь здесь. Я начала с Beginner’а, но сейчас у меня
                Foudation. Я хочу поблагодарить Toby и JK за их труды. Все
                учителя энергичные и всегда есть взаимопонимание между учителем
                и учеником. Да, мне очень повезло, что я учусь в этом центре.
              </p>
            </div>
          </div>
          <div class="pupil-card splide__slide">
            <div class="top">
              <div class="img">
                <a href="{% static 'assets/media/images/students/student-4.jpg' %}"><img
                  src="{% static 'assets/media/images/students/student-4.jpg' %}"
                  alt=""
                /></a>
              </div>
              <div>
                <p>Davud</p>
                <span class="marked">Student</span>
              </div>
            </div>
            <div>
              <p>
                Я полностью доволен. Мой разговорный Английский намного
                улучшился и я бы определенно рекомендовал курсы в Tim Я считаю,
                что этот центр и учителя одни из самых лучших. Все объясняется
                понятным образом и атмосфера тоже очень крутая. Мне очень
                понравился последний курс и я надеюсь, что последующие будут
                также увлекательны и полезны.
              </p>
            </div>
          </div>
          <div class="pupil-card splide__slide">
            <div class="top">
              <div class="img">
                <a href="{% static 'assets/media/images/students/student-5.jpg' %}"><img
                  src="{% static 'assets/media/images/students/student-5.jpg' %}"
                  alt=""
                /></a>
              </div>
              <div>
                <p>Bekmuhammad</p>
                <span class="marked">Student</span>
              </div>
            </div>
            <div>
              <p>
                Я думаю, что их методы эффективны и мне нравится то, как учителя
                увлеченно помогают студентам. Все очень отзывчивые и уроки очень
                полезны.
              </p>
            </div>
          </div>
          <div class="pupil-card splide__slide">
            <div class="top">
              <div class="img">
                <a href="{% static 'assets/media/images/students/student-2.jpg' %}"><img
                  src="{% static 'assets/media/images/students/student-2.jpg' %}"
                  alt=""
                /></a>
              </div>
              <div>
                <p>Хуршида</p>
                <span class="marked">Student</span>
              </div>
            </div>
            <div>
              <p>
                Я хотел бы учиться здесь заново и я обязательно буду :) Все мои
                одногруппники очень дружелюбны, атмосфера в заведении приятная.
                Маленькие группы помогают лучше прогрессировать и я смело всем
                рекомендую это место.
              </p>
            </div>
          </div>
          <div class="pupil-card splide__slide">
            <div class="top">
              <div class="img">
                <a href="{% static 'assets/media/images/students/student-6.jpg' %}"><img
                  src="{% static 'assets/media/images/students/student-6.jpg' %}"
                  alt=""
                /></a>
              </div>
              <div>
                <p>Abdulboriy</p>
                <span class="marked">Student</span>
              </div>
            </div>
            <div>
              <p>
                Маленькие группы, цена приемлемая, а самое главное все учителя
                любят то, что делают: они подходят к работе с душой и заботятся
                о нуждах студентов.
              </p>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="faq">
  <div class="container">
    <div style="align-items: center; display: flex; flex-direction: column">
      <div style="display: flex; justify-content: center">
        <button class="btn sm">
          <span>Frequently asked <span class="marked">questions</span></span>
        </button>
      </div>
      <div style="text-align: center" class="title">
        <span style="max-width: 700px">Часто задаваемые вопросы</span>
      </div>
    </div>
    <div
      style="flex-wrap: wrap; margin-top: 50px"
      class="row flex-direction align-items"
      _-scope-_="_ZRcxskrpT"
    >
      <div class="col">
        <ul>
          {% for faq in faq1 %}
          <li>
            <div>
              <span class="question">{{ faq.question }}</span>
              <span class="collapse" button> </span>
            </div>
            <p class="hidden">{{ faq.answer }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col">
        <ul>
          {% for faq in faq2%}
          <li>
            <div>
              <span class="question">{{ faq.question }}</span>
              <span class="collapse" button> </span>
            </div>
            <p class="hidden">{{ faq.answer }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="gallery" style="background: #fff; padding-top: 40px">
  <div class="container">
    <button class="btn sm" style="background: #28314b; color: #fff">
      <span>Our <span class="marked">gallery</span></span>
    </button>
    <div
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <div class="title">
        <span>Наша фотографии</span>
      </div>
      <div class="display" _-scope-_="Bxnzbc_tgK">
        <a href="{% url 'main:gallery' %}">
          <button class="btn default">
            <span>Хочу к вам</span>
            <span class="fas fa-angle-right"></span>
          </button>
        </a>
      </div>
    </div>
  </div>
  <div class="grid container">
    <div class="grid-sizer"></div>
    {% for photo in photos|slice:3 %}
    <div
      class="grid-item"
      style="background-image: url('{{ photo.photo.url }}')"
    ></div>
    {% endfor %}
  </div>
  <div class="grid-alpha"></div>
  <div style="display: none; margin-top: 50px" _-scope-_="D_4sWC_VVW">
    <a href="{% url 'main:gallery' %}">
      <button class="btn default">
        <span>Хочу к вам</span>
        <span class="fas fa-angle-right"></span>
      </button>
    </a>
  </div>
</section>

<section style="background: rgb(255, 255, 255); padding-top: 40px" id="contact">
  <div style="position: relative" class="container">
    <iframe
      height="900"
      id="gmap_canvas"
      src="https://maps.google.com/maps?q=English%20With%20Tim&amp;t=&amp;z=19&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
      style="
        top: 106px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 100%;
      "
      class="display"
      _-scope-_="L_btWC_VVV"
    ></iframe>
    <div style="position: relative; z-index: 2">
      <div>
        <button class="btn sm no-borders">
          <span class="marked">Contacts</span>
        </button>
      </div>
      <div class="title">
        <span>Контактные данные</span>
      </div>
    </div>
    <div class="contact-container width" _-scope-_="lTMQ_OCmJJ">
      <div class="row flex-direction" _-scope-_="tMzOiau-iC">
        <div style="position: relative; z-index: 2" class="col">
          <center style="margin-bottom: 80px; position: relative">
            <div style="left: -70px; top: -20px" class="absolute img">
              <img
                src="{% static 'assets/media/logo/logo-bordered.png' %}"
                alt="logo"
                style="width: 100px"
              />
            </div>
            <div class="title">
              <span>English with Tim</span>
            </div>
          </center>
          <p style="display: flex">
            <span class="fas fa-location-dot"></span
            ><span>{{ setting.address1 }}</span>
          </p>
          <p style="display: flex">
            <span class="fas fa-location-dot"></span
            ><span>{{ setting.address2 }}</span>
          </p>
          <p>
            <span class="fas fa-phone"></span
            ><a href="tel:{{ setting.phone1 }}">{{ setting.phone1 }}</a>
          </p>
          <p>
            <span style="opacity: 0" class="fas fa-phone"></span
            ><a href="tel:{{ setting.phone2 }}">{{ setting.phone2 }}</a>
          </p>
          <p>
            <span class="fas fa-envelope"></span
            ><a href="mailto:{{ setting.email }}">{{ setting.email }}</a>
          </p>
          <div style="display: flex; margin-top: 20px" class="icons">
            <!-- telegram -->
            <a href="{{ setting.telegram }}">
              <div class="icon">
                <span class="fa-brands fa-telegram"></span>
              </div>
            </a>
            <!-- /telegram -->

            <!-- instagram -->
            <a href="{{ setting.instagram }}">
              <div class="icon">
                <span class="fa-brands fa-instagram"></span>
              </div>
            </a>
            <!-- /instagram -->

            <!-- tik tok -->
            <a href="{{ setting.tiktok }}">
              <div class="icon">
                <span class="fa-brands fa-tiktok"></span>
              </div>
            </a>
            <!-- /tik tok -->
          </div>
          <div
            style="right: -167.5%; top: 0px"
            class="absolute img display"
            _-scope-_="OQyoteuLLa"
          >
            <div id="hideform">
              <span
                style="
                  color: rgb(255, 255, 255);
                  cursor: pointer;
                  font-size: 20px;
                "
                class="fas"
              ></span>
            </div>
          </div>
        </div>
        <div style="position: relative; z-index: 2" class="col" id="col">
          <div style="text-align: center" class="title">
            <span>Напишите нам</span>
          </div>
          <form method="post" style="margin-top: 30px" id="form">
            <input
              type="hidden"
              name="csrfmiddlewaretoken"
              value="W5ax5qSzqPSujH2uuZZKmyej2DdqA0a7VNUdZJ2USBOzXanP0Rbo4WXcSfhhjPX3"
            />
            {% csrf_token %}
            <div>
              <input
                type=" text"
                name="name"
                maxlength="255"
                required=""
                id="id_name"
                placeholder="Ваше имя"
              />
              <input
                type="text"
                name="surname"
                maxlength="255"
                required=""
                id="id_surname"
                placeholder="Фамилия"
              />
            </div>
            <div>
              <input
                type="text"
                name="phone"
                maxlength="255"
                required=""
                id="id_phone"
                class="class_phone"
                placeholder="Номер телефона"
              />
              <input
                type="text"
                name="phone2"
                maxlength="255"
                required=""
                id="id_theme"
                placeholder="Второй номер"
              />
            </div>
            <textarea
              name="message"
              cols="40"
              rows="6"
              required=""
              id="id_message"
              placeholder="Текст"
            ></textarea>
            <div style="margin-top: 70px">
              <button
                type="submit"
                style="display: flex; margin: 0px auto"
                class="btn default"
              >
                <span>Отправить сообщениe</span>
                <span class="fas fa-angle-right"></span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
